* {
margin:0;
padding:0;
font-family: sans-serif;  
}
.jungle{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75),url(jungo.jpg) );
    background-size: cover;
    background-position: center;
}
header{
    background-color: rgb(27, 46, 74) ;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: white;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 1.5px;
    width: 0;
    background: #0d035e;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 0;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px; 
}
.something{
    width: 100%;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 4px solid #fdfdff;
    background: #0d035e;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
span{
    background-color: #0d035e;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover {
    border: none;
}
footer{
    background-color: rgb(27, 46, 74);
}

.links a{
    color: white;
    width: 70%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
footer{
    color:  rgb(27, 46, 74);
}
.contact{
    color: white;
    padding-left: 70px;
    padding-top: 170px;
}
.cont{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: white;
    color: #0d035e;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: grid;
}
.foot ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: white;
    /* position: relative; */
    align-items: center;
    justify-content: space-between;

}
.foot ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/* .foot ul li::after{
    content: '';
    height: 1.5px;
    width: 0;
    background: #0d035e;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.foot ul li:hover::after{
    width: 0;
} */ 
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 30px; */
}
.foot{
    font-size: 25px;
    text-transform: uppercase;
}
.foot ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.foot ul li{
    margin-right: 5px;
    padding: 70px;
}

